p{
    color: lab(78% -16.79 69.09)
    ;}


body{
    background-color: darkcyan;
    border-style: double;
}

 

.titulo{
    font-size: 90px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: lch(95.95% 12.75 109.18);
}

.parrafo{
    text-align: justify ;
    font-size: 25px ;
    margin: 25 px ;

    ;}

.caja {
    width: 300;
    padding: 16px;
    border: 2px solid blue;
    margin: 20px;


}